altgraph==0.17
asgiref==3.3.1
astroid==2.4.2
atomicwrites==1.4.0
attrs==20.3.0
backcall==0.2.0
beautifulsoup4==4.9.1
bs4==0.0.1
click==7.1.2
colorama==0.4.3
cssselect==1.1.0
cycler==0.10.0
decorator==4.4.2
dj-database-url==0.5.0
Django==3.1.7
django-cors-headers==3.7.0
django-heroku==0.3.1
django-storages==1.11.1
djangorestframework==3.12.4
djangorestframework-simplejwt==4.6.0
easydict==1.9
EasyProcess==0.3
enum34==1.1.10
future==0.18.2
gunicorn==20.1.0
imageio==2.9.0
iniconfig==1.1.1
ipython==7.18.1
ipython-genutils==0.2.0
isort==5.6.4
jedi==0.17.2
joblib==0.17.0
kiwisolver==1.3.1
lazy-object-proxy==1.4.3
lxml==4.5.2
matplotlib==3.3.3
mccabe==0.6.1
networkx==2.5
nltk==3.5
numpy==1.19.1
opencv-python==4.4.0.46
packaging==20.7
pandas==1.1.1
parsel==1.6.0
parso==0.7.1
pefile==2019.4.18
pickleshare==0.7.5
Pillow==8.0.1
pluggy==0.13.1
prettytensor==0.7.4
progressbar==2.5
prompt-toolkit==3.0.7
psycopg2==2.8.6
py==1.9.0
Pygments==2.6.1
pyinstaller==4.1
pyinstaller-hooks-contrib==2020.10
PyJWT==2.0.1
pylint==2.6.0
pyparsing==2.4.7
pytest==6.1.2
python-dateutil==2.8.1
pytz==2020.1
PyVirtualDisplay==2.1
PyWavelets==1.1.1
pywin32-ctypes==0.2.0
PyYAML==5.4.1
regex==2020.11.13
scikit-image==0.17.2
scikit-learn==0.23.2
scipy==1.5.4
selenium==3.141.0
six==1.15.0
sklearn==0.0
soupsieve==2.0.1
sqlparse==0.4.1
threadpoolctl==2.1.0
tifffile==2020.11.26
toml==0.10.2
torchfile==0.1.0
tqdm==4.54.1
traitlets==5.0.4
urllib3==1.25.10
w3lib==1.22.0
wcwidth==0.2.5
whitenoise==5.2.0
wrapt==1.12.1
